@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5.h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 300px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 960px;
  background: url(../img/header/main-screen__bgc.png) 0 0/auto 100% no-repeat;
}
.header__container {
  padding: 0 80px;
}
.header__catalog {
  padding: 40px 0;
  max-width: 1760px;
  display: flex;
  justify-content: space-between;
}
.header__menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-top: 13px;
  width: 650px;
}
.header__menu ul {
  max-width: 745px;
  display: flex;
  justify-content: space-between;
}
.header__menu ul a {
  color: #FFFFFF;
}
.header__button {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  width: 183px;
  height: 44px;
  border-radius: 50px;
  text-align: center;
  padding-top: 13px;
  font-weight: 400;
  font-size: 16px;
}
.header__button a {
  color: #fff;
}

.timer {
  color: #fff;
}
.timer__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
}
.timer__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
}
.timer__time {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.time__number {
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 112px;
  background: #121212;
  text-align: center;
  justify-content: center;
}
.time__number :nth-child(1) {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}
.time__number :nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.4;
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 130px;
  background: #121212;
  color: #fff;
}
.footer__row {
  display: flex;
  width: 1260px;
  justify-content: space-between;
}
.footer__button {
  width: 169px;
  height: 44px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.footer__button a {
  color: #fff;
}
.footer__list {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.footer__scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__earned {
  margin-bottom: 5px;
}
.footer__line {
  width: 700px;
  height: 6px;
  background: #fff linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%) 0 0/440px 6px no-repeat;
  margin-bottom: 5px;
}
.footer__sum {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.text :nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.4;
}
.text :nth-child(2) {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.content {
  background: url(../img/bgc.png) no-repeat;
  color: #fff;
}

.about {
  padding: 200px 0 100px 0;
}
.about__row {
  display: flex;
  justify-content: space-between;
}
.about__description {
  position: relative;
  top: 100px;
  max-width: 636px;
}
.about__title {
  margin-bottom: 45px;
}
.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.fast {
  padding: 100px 0;
}
.fast__start {
  display: flex;
}
.fast__logo {
  position: relative;
  left: -25px;
}
.fast__title {
  padding: 20px 0 0 0;
}
.fast__row {
  margin: 80px 0 0 0;
  display: flex;
}
.fast__procent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}

.procent__amount {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}
.procent__block-1 {
  width: 326px;
  height: 80px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  margin: 20px 0;
}
.procent__block-2 {
  width: 326px;
  height: 60px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  margin: 20px 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.procent__block-3 {
  width: 326px;
  height: 30px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.procent__block-4 {
  width: 326px;
  height: 10px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.procent__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
  max-width: 306px;
}

.profession {
  padding: 100px 0;
}
.profession__row {
  display: flex;
  justify-content: space-between;
}
.profession__title {
  text-align: center;
}
.profession__columns {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}
.profession__image {
  align-items: center;
}
.profession__subtitle {
  margin: 60px 0 30px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
}
.profession__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  opacity: 0.8;
}

.partners {
  padding: 100px 0;
}
.partners__start {
  display: flex;
}
.partners__logo {
  position: relative;
  left: -25px;
  transform: rotate(180deg);
}
.partners__title {
  padding: 20px 0 0 0;
}
.partners__table {
  margin: 20px 0 0 0;
}
.partners__table table td {
  border: 1px solid #fff;
  padding: 30px 60px;
}

.program {
  padding: 50px 0 100px 0;
}
.program__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.program__container {
  max-width: 750px;
  margin: 0 auto;
}
.program__logo {
  transform: rotate(135deg);
}
.program__title {
  margin-bottom: 20px;
}
.program__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 75px;
}
.program__left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.program__weeks {
  display: flex;
}
.program__vertical-line {
  width: 6px;
  height: 677px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.program__right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input__row {
  display: flex;
}

.weeks__line {
  align-self: center;
}
.weeks__text {
  text-align: right;
}
.weeks__text :nth-child(1) {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
}
.weeks__text :nth-child(2) {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}
.weeks__text-right :nth-child(1) {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
}
.weeks__text-right :nth-child(2) {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.mail {
  padding: 100px 0;
}
.mail__content {
  display: flex;
  justify-content: center;
}
.mail__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mail__title {
  margin: 0 0 30px 0;
}
.mail__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
  margin: 0 0 60px 0;
}
.mail__input {
  margin: 0 0 40px 0;
}
.mail__input input {
  position: relative;
  left: 30px;
  padding: 0 30px;
  width: 492px;
  height: 44px;
  background: #FFFFFF;
  opacity: 0.25;
  border-radius: 50px 0px 0px 50px;
}

.btn {
  position: relative;
  left: -30px;
  width: 160px;
  height: 44px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.networks__row {
  width: 210px;
  display: flex;
  justify-content: space-between;
}
.networks__button {
  display: flex;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}